body {
  background-image: radial-gradient(#eeaeca, #94bbe9);
  background-attachment: fixed;
}

.container {
  margin-top: 150px;
}

.block {
  width: 800px;
  height: 320px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #40322d;
  margin: auto;
  background-color: #ffffff;
  border: 0px solid #eeaeca;
  box-shadow: 15px 15px #eeaeca;
}

.column1 {
  float: left;
  width: 22%;
  padding: 10px;
  height: 380px;
  font-size: 15px;
  text-align: right;
  font-weight: bold;
}

.column2 {
  float: left;
  width: 45%;
  padding: 10px;
  height: 380px;
  font-size: 15px;
  text-align: left;
}

.column3 {
  float: right;
  width: 22%;
  padding: 10px;
  height: 220px;
  background-image: url(/Users/jennifer/Projects/startpage-pastel/images/anime0.jpg);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* unvisited link */
a:link {
  color: #40322d;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #ff77b8;
}

/* mouse over link */
a:hover {
  -webkit-animation: zomg 2.5s infinite;
  animation: zomg 2.5s infinite;
}

@-webkit-keyframes zomg {
  0%,
  100% {
    color: #ff77b8;
  }
  16% {
    color: #94bbe9;
  }
  32% {
    color: #7ccdea;
  }
  48% {
    color: #ff77b8;
  }
  64% {
    color: #ffe586;
  }
  80% {
    color: #7ccdea;
  }
}
@keyframes zomg {
  0%,
  100% {
    color: #ff77b8;
  }
  16% {
    color: #94bbe9;
  }
  32% {
    color: #7ccdea;
  }
  48% {
    color: #ff77b8;
  }
  64% {
    color: #ffe586;
  }
  80% {
    color: #7ccdea;
  }
}

.clock h2 {
  text-align: center;
}
